<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
   <nav class="navbar navbar-light" style="background-color: #e4e5e6;">
      <div class="navbar-header">
          <h3><B>Task Manager</B></h3>
        </div>
  </nav>
 <nav class="navbar navbar-light" style="background-color:whitesmoke">
    <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
              <li> <a routerLink="/addtask" routerLinkActive="active"><font color="black">Add Task</font></a>
              <li> <a routerLink="/viewtask" routerLinkActive="active"><font color="black">View Task</font></a>
              </ul>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>


